---
Language: Cpp
ColumnLimit: 0
UseTab: Never
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
NamespaceIndentation: None
ReflowComments: false
AlwaysBreakAfterDefinitionReturnType: All
IndentWidth: 4
BreakStringLiterals: false
FixNamespaceComments: true
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceBeforeCpp11BracedList: true
AlignAfterOpenBracket: Align
AlignOperands: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: false
SortIncludes: false
AccessModifierOffset: -4