build/
configs/.selected
*.swp
CMakeLists.txt.user*
.fips-*
.vscode
*.patch
fips-generators/*.pyc
/fips-files/verbs/*.pyc
/fips-files/generators/**/*.pyc
export_win32/*
export_linux/*
/code/render/coregraphics/attic
/code/render/coregraphics/vk/attic
/code/foundation/jobs/attic
/code/render/coregraphics/mesh_old.h
/code/render/coregraphics/mesh_old.cc
/code/render/materials_old
/code/render/models_old
/code/render/visibility/jobs_old
/code/render/visibility/visibilitysystems_old
*.pyc
.svn
*attic
/documentation/html*
/documentation/*.tmp
/documentation/log.txt
/dump
*.dmp
work/