# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: ${{ matrix.name }}-build-and-test
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        name: [windows-latest, ubuntu-18.04]
        include:
          - name: windows-latest
            os: windows-latest
            config: vulkan-win64-vs2019-debug
            physx: win-vs16
            physxkey: vs16
            anyfx: anyfxcompiler-windows
          - name: ubuntu-18.04
            os: ubuntu-18.04
            config: vulkan-linux-ninja-debug
            physx: linux
            physxkey: linux
            anyfx: anyfxcompiler-linux
          
      # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: setup-msbuild
        if: startsWith(matrix.name, 'windows')
        uses: microsoft/setup-msbuild@v1
      
      - name: Set up Python 3.x
        uses: actions/setup-python@v1
        with:
          python-version: '3.x' # Semantic version range syntax or exact version of a Python version
          architecture: 'x64' # Optional - x64 or x86, defaults to x64
      
      - name: Clone dependencies
        run: |
          python fips fetch
          python fips set config ${{ matrix.config }}
          
      - name: Fix clang version
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          echo "CC=clang-9" >> $GITHUB_ENV
          echo "CXX=clang++-9" >> $GITHUB_ENV

      - name: Setup missing software
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get install libgl1-mesa-dev libglu1-mesa-dev ninja-build libxcursor-dev libxrandr-dev
        
      - name: Cache PhysX
        id: cache-physx
        uses: actions/cache@v1.1.2
        with:
          path: ../fips-deploy/physx
          key: ${{ runner.os }}-physx-deploy-${{ matrix.physxkey }}

      - name: Build PhysX
        if: steps.cache-physx.outputs.cache-hit != 'true'
        run: |
          python fips physx build ${{ matrix.physx }}

      - name: Check Anyfx version
        run: |
          pushd ../fips-anyfx
          #echo "::set-env name=anyfx-rev::$(git rev-parse HEAD)"
          echo "anyfx-rev=$(git rev-parse HEAD)" >> $GITHUB_ENV
          popd
                    
      - name: Check for Anyfx cached build
        id: cache-anyfx
        uses: actions/cache@v1.1.2
        with:
          path: ../fips-deploy/fips-anyfx
          key: ${{ runner.os }}-anyfx-${{ env.anyfx-rev }}

      - name: Build AnyfxCompiler
        if: steps.cache-anyfx.outputs.cache-hit != 'true'
        run: |
          pushd ../fips-anyfx
          python fips build ${{ matrix.anyfx }}
          popd

      # Runs a set of commands using the runners shell
      - name: Run prebuild steps
        run: |
          python fips nebula set work ../fips-deploy
          python fips nebula set toolkit .        
          python fips gen

      - name: Compile 
        run: |
          python fips build

      - name: Run Tests
        run: |
           python fips run testmath
           python fips run testfoundation
